{%extends 'admins/adminbase.html'%}
{%load static%}
{%block contents%}

<section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
						<h1><font color="BLACK">Sales Transactions</font></h1>
	    				<table class="table">
						    <thead class="table-bordered">
						      <tr class="text-center">
						        <th>S.No&nbsp;</th>
						        <th>C_index</th>
						        <th>C_timestamp</th>
						        <th>C_Sender</th>
						        <th>C_Recipient</th>
                                <th>C_Amount</th>
                                <th>C_Proof</th>
                                <th>C_Currenthash</th>
						        <th>P_index</th>
						        <th>P_timestamp</th>
						        <th>P_Sender</th>
						        <th>P_Recipient</th>
                                <th>P_Amount</th>
                                <th>P_Proof</th>
                                <th>p_Currenthash</th>


						      </tr>
						    </thead>
						    <tbody>
                             {% for i in data %}
                          <tr class="text-center">
                        <td>{{forloop.counter}}</td>
                        <td>{{i.c_index}} </td>
                        <td>{{i.c_timestamp}} </td>
                        <td>{{i.c_sender}} </td>
                        <td>{{i.c_recipient}} </td>
                        <td>{{i.c_amount}} </td>
                        <td>{{i.c_proof}} </td>
                        <td>{{i.c_previous_hash}} </td>
                        <td>{{i.c_index}} </td>
                        <td>{{i.p_timestamp}} </td>
                        <td>{{i.c_sender}} </td>
                        <td>{{i.p_recipient}} </td>
                        <td>{{i.c_amount}} </td>
                        <td>{{i.p_proof}} </td>
                        <td>{{i.p_previous_hash}} </td>


                    </tr>
                    {% endfor %}
						    </tbody>
						  </table>

						 
					  </div>


    			</div>
    		</div>
			</div>
		</section>
{%endblock%}