{%extends 'admins/adminbase.html'%}
{%load static%}
{%block contents%}
<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
            <div class="col-md-12">
 <h1><font color="BLUE"> Send Subsidy to users</font></h1>

                                         <table border="2px" class="table table-hover table-dark">
                    <thead>
                    </thead>
                    <tbody>
                        
                

                        Subsidy has been granted



                    </tbody>
                </table>

            </div>

        </div>
    </div>
</section>
{%endblock%}