{%extends 'sellers/sellerbase.html'%}
{%load static%}
{%block contents%}

<section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
                    <h2>The product of the Seller is <span class="btn btn-info"> {{request.session.loginid}}</span></h2>
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>S.No&nbsp;</th>
						        <th>Crop name</th>
						        <th>Price</th>
						        <th>Date</th>
						        <th>Image</th>
                                <th>Update</th>
                                <th>Delete</th>
                                <th>Add</th>
						      </tr>
						    </thead>
						    <tbody>
                             {% for i in data %}
                          <tr class="text-center">
                        <td>{{forloop.counter}}</td>
                        <td class="product-name">{{i.cropname}} <p>{{i.description}}</p></td>
                        <td class="quantity">&#x20B9; {{i.price}}</td>
                        <td>{{i.cdate}}</td>
                        <td class="image-prod"><div class="img" style="background-image:url({{i.file}});"></div></td>
                        <td><a class="btn btn-warning" href="/SellerUpdateProducts/?cropid={{ i.id }}" style="color:DARKBLUE">Update</a></td>
                        <td><a class="btn btn-danger" href="/SellerDeleteProducts/?cropid={{ i.id }}" style="color:DARKBLUE">Delete</a></td>
                        <td><a class="btn btn-success" href="/SellerAddItemsForm" style="color:DARKBLUE">Add</a></td>
                    </tr>
                    {% endfor %}
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
			</div>
		</section>
{%endblock%}