{%extends 'sellers/sellerbase.html'%}
{%load static%}

{%block contents%}
<section class="ftco-section img" style="background-image: url({%static 'images/bg_3.jpg'%});">
    	<div class="container">
				<div class="row justify-content-end">
          <div class="col-md-6 heading-section ftco-animate deal-of-the-day ftco-animate">
          	<span class="subheading">Add Items Details</span>
            <p>
             <div class="row block-9">
          <div class="col-md-6 order-md-last d-flex">
            <form action="{%url 'SellerAddItemsAction'%}" class="bg-white p-5 contact-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control" name="cropname" placeholder="Enter Crop name" required>
              </div>
              <div class="form-group">
                <input type="number" class="form-control" name="price" placeholder="Enter Price" step=any required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="description" placeholder="Enter Descriptions" required>
              </div>

              <div class="form-group">
                <input type="file" class="form-control" name="file" accept="image/*" placeholder="Select Product Image" required>
              </div>

              <div class="form-group">
                <input type="submit" value="Add Product" class="btn btn-primary py-3 px-5">
              </div>
                 {% if messages %}
                            {% for message in messages %}
                            <font color='RED'> {{ message }}</font>
                            {% endfor %}
                            {% endif %}
            </form>

          </div>
            </p>
 <ol>
                  <li>This is only for Farmers</li>
                  <li>Seller must add crop data</li>
                  <li>Each Item Consider as 1 KG of the price </li>
              </ol>

          </div>
        </div>
    	</div>
    </section>

{%endblock%}