{%extends 'buyers/buyerbase.html'%}
{%load static%}
{%block contents%}

<section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
                    <h2>Buyer Transaction Initiate <span class="btn btn-info"> {{request.session.loginid}}</span></h2>

                        <form class="text-left clearfix mt-30" action="{%url 'StartBlockChainTransaction'%}" method="POST">

                     {%csrf_token%}
              <div class="form-group"><label>Payable Amount</label>
              <input type="text" class="form-control" name="totalamount" value="{{totaPrice}}" readonly>
            </div>
            <div class="form-group"><label>Sender Name </label>
              <input type="text" class="form-control" name="buyername"  value=" {{buyername}}" readonly>
            </div>
            <div class="form-group"><label>Recipient Name</label>
              <input type="email" class="form-control" name="recipientnmae"value="{{bank}}" readonly>
            </div>

            <div class="form-group"><label>Credit/Debit Card Number</label>
              <input type="text" class="form-control" name="cardnumber" pattern="[123456789][0-9]{15}" placeholder="Credit / Debit Card Number" required>
            </div>
            <div class="form-group"><label>Name On Card</label>
              <input type="text" class="form-control" name="nameoncard" style="text-transform: uppercase;" placeholder="Name On Card" required>
            </div>

            <div class="form-group"><label>CVV Number</label>
              <input type="text" class="form-control" name="cvv" pattern="[12345678][0-9]{2}" placeholder="CVV Number" required>
            </div>
                            <div class="form-group"><label>Expiry Date</label>
              <input type="month" class="form-control" name="cardexpiry" id="datepicker" min="2020-10" max="2030-12"  placeholder="Card Expiry Date" required>
            </div>
                            <center>
            <button type="submit" class="btn btn-success text-center">Start Transaction</button>
                                </center>
          </form>
                <center>
                    {% if messages %}
                    {% for message in messages %}
                    <font color='YELLOW'> {{ message }}</font>
                    {% endfor %}
                    {% endif %}
                </center>


					  </div>


    			</div>
    		</div>
			</div>
		</section>
{%endblock%}